.span8 {
    width: 940px;
}

/*Home*/
.composition_videos .liste-items .video{
  width:188px;
  float:left
}

/*Form upload*/
#joindre_distant__new, #joindre_mediatheque__new, .sourceup, .formulaire_joindre_document h3.titrem {
    display: none;
}

/*Social tags*/
.socialtags img {
    height: 64px;
}

@media (min-width: 1200px) {
  .span8 {
    width: 1170px;
  }
  .composition_videos .liste-items .video{
    width:195px;
  }
}


@media (max-width: 979px) and (min-width: 768px) {
  .span8 {
    width: 724px;
  }
  .composition_videos .liste-items .video{
    width:180px;
  }
}

@media (max-width: 767px){
  .span8 {
    width: 100%;
  }
  .composition_videos .liste-items .video{
    width:25%;
  }
}
