@import "css/variables.less";
@import "css/boot-theme.less";
/* Mixins*/
.fontFace() {
  font-family: @headingsFontFamily;
  text-transform:uppercase;
  text-align:center;
}

.fontFace(@font-size) {
  font-size : @font-size;
}

.pinkBackgroundInner(){
  background-image: url(images/bg_beige.jpg);
  background-position: left top;
  background-repeat: repeat-y;
  background-size: 100% auto;

}
.pinkBackground(@padding: 0 0 2em, @url1:"images/bg_beige.jpg"){
  background-image: url(@url1), url("images/bg_beige_bottom.png");
  background-position: left top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto;
  padding:@padding;
  .inner{
    .pinkBackgroundInner();
  }
}

/* Stylesheet */
body {
  color:@linkColor;
  background-image:url(images/bg_blanc.jpg);
  background-position: left top, left bottom;
  background-repeat: repeat-y;
  background-size: 100% auto;
  }

a:focus,a:hover,a.active{
  background:none;
  color:@linkColor;
}

/*Titraille*/
h1,.h1{
  padding: 0 26px;
  margin-top:0.2em;
  background-image:url(images/h1_vert_left.png),url(images/h1_vert_right.png);
  background-repeat:no-repeat;
  background-position:left,right;
  font-size:3.8em;
  font-transform:uppercase;
  text-align:center;
  }
h1, .h1, .h1-like {
    margin-bottom: 0em;
}
h1,.h1,h2,.h2,h3,h4{
  display:inline-block;
  font-weight:normal;
}
h3 {margin-bottom: 0;}

/* Général */

header{text-align:center}


#content{
  text-align: center;
  margin-top: 30px;
  }

.cartouche {
  text-align:center;
  .wrapper{position:relative;}
  }

.inner-content{
  width:52%;
  margin:0 auto;
  text-align:center;
}

#logo_site_spip {display:none}

.bg_wrapper{position:relative;}

.formulaire_spip,.formulaire_spip .boutons {background-color:transparent}

.formulaire_spip .boutons {border:none}

.pagination{clear:both;}

/*Navigation*/

.navbar {
  padding-bottom:1em;
  .nav > li {
    display: inline-block;
    float: none;
  }
}

.navbar-inverse .navbar-inner {
    background-image:url(images/bg_blanc.jpg);
}
.navbar-inner {
  position: fixed;
  top:0;
  width: @gridRowWidth;
  z-index: 200;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  text-align: center;
  padding-bottom:1em;

  ul.nav{
    .fontFace();
    font-size:2em;
    float:none;}
  li {
    line-height: normal;
    padding-bottom: 7px;
  }

  li.on, li:hover{
      background-image:url(images/noeud_petit.png);
      background-repeat:no-repeat;
      background-position: 50% 100%;
      a {border-bottom: 2px solid}
    }
  .tools{
    display:inline-block;
    position: relative;
    text-align: left;
    top: -7px;
    div {display:inline-block}
    }
  }

.nav-collapse.collapse {
    display: inline-block;
    margin: 0 auto;
}

.navbar .nav > li > a{ padding: 10px 15px 0;}

/* buttons */

.button, .boutons{
  font-size:3em;
  .fontFace;
  background-image:url(images/button_green.png);
  background-repeat:no-repeat;
  background-position:left top;
  background-size: 100%;
  display:inline-block;
  padding: 0.89em;
  a,span{
    display: block;
    line-height: 1.7em;
    padding: 0;
  }
}
.button:hover, .boutons:hover{
  background-image:url(images/button_green_hover.png);
}

/* Counter*/

.counter{
  .fontFace();
  font-size:2em;
  background-image:url(images/cercle_blanc.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size: 100%;
  display: inline-block;
  line-height: 1em;
  max-width: 58px;
  padding: 1.5em 1.7em 1.3em 1.1em;
}

  .bg_wrapper{
    .pinkBackground(0 0 2em 0);
  }


/* Home */


.home {
  #content {
    .cartouche {
      padding: 315px 0 7em;
      display: block !important;
      background-image:url(images/bg_pieds.jpg),url(images/bg_vert.jpg);
      background-position: 0 0, 0 340px;
      background-repeat:no-repeat,repeat-y;
      background-size: 100%;
      color:#FFFFFF;
      margin-bottom: 0;
      .counter{
        position: absolute;
        right: 36px;
        top: 217px;
        }
      .wrapper{margin-top:2em;}
      .spip_logos{
        float:none;
        top: 0;
        position: absolute;
        right: 48px;
        }
      h1{
        color:#FFFFFF;
        font-weight:normal;
        background-image:url(images/h1_blanc_left.png),url(images/h1_blanc_right.png);
        margin-top:0;
      }
      .button {
        background-image:url(images/button_white.png);
        padding: 0 0.7em 0.7em;
        a{ color:#FFFFFF}
      }
      .button.share {
        background-image:url(images/button_white_small.png);
        padding: 0em 1em 0.9em;
        margin-left:0.7em;
      }
    }
  }
  .bg_wrapper.about{
    .pinkBackground(2em 0 2em,"images/bg_beige_top.png");
    .inner{padding: 0em 0 2em 0;}
  }
  .about{
      .fontFace();
      margin-top:-3em;
      .button{
        font-size:2.7em;
        a {line-height:2em;}
        }
    .item{
      width:25%;
      display:inline-block;
      margin-right:-1.6em;
      p {padding:0.5em 0.8em 0.5em;}
      }
    .items {
      margin: 0.5em auto 1em;
      width: 790px;
      font-size:1.3em;
    }
  }
  .walk{
    position:relative;
    h2.h1{margin:1em 0;}
    .counter,.button{
      position:absolute;
    }
    .button{
      right:1%;
      top:1.3em;
      font-size:2em;
    }
    .counter {
      left: 9%;
      color:@linkColor;
      background-image:url(images/cercle_vert.png);
      top:0;
      }
    /*Videos*/
    #grid{
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align:center;
      }
    .grid-item{
      width:33.3%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
       margin:0.5em auto;
      .media{margin:0 0.5em;}
    }
  }
}

/* Page upload */

/*Form upload*/
#joindre_distant__new, #joindre_mediatheque__new, .sourceup, .formulaire_joindre_document h3.titrem {
    display: none;
}

.rubrique_upload{
  section{
    .pinkBackgroundInner();
  }
  .inner-content{color:@linkColor}
  .steps, .hashtag,.action{
    .fontFace();
  }
  .formulaire_spip .boutons {
      padding: 0.9em 2em;
      margin-bottom:2em;
  }
  input.submit{
    .fontFace();
    color:@linkColor;
    border:none;
    background:none;
    font-size:1em;
    line-height:normal;
    padding:0;
    }
  .steps{margin:2em auto 0 auto;}
  .step{
    width:25%;
    float:left;
    div {margin: 0.5em 2em;}
  }

  .button{
    font-size:3.18em;
    clear:both;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  label{display:none}

  .teaser {
    margin : 2em 0;
    .media {
    border: 4px solid @linkColor;
  }

  }
  .thank_you{
    .pinkBackgroundInner;
    padding-bottom: 2em;
    img.feet{margin-top:3em}
    p.hashtag{
      font-size: 2em;
      font-weight: bold;
      margin: 0.5em 0;
    }
    .share{
      width:213px;
      margin: 0 auto;

      div{display:inline-block;}
      .socialtags img{
        height:auto;
      }
    }
    .action{margin-top:2em}

    .got_to {
      width:150px;
      margin: 0 auto;
    }
  }
}

/*Page Act4Planet*/

.rubrique_act{
  .cartouche{
    .fontFace();
    div{
      font-size:2em;
      line-height:normal;
      }
  }
  .teaser.bg_wrapper{
    padding: 0 0 1em;
  }
  .bg_wrapper{
    .inner-content{padding-top:2em}
  }
  .tweets{
    margin-bottom:3em;
    .wrapper{
      margin: 0 auto;
      width: 95%;
      }
    .wrapper > div {width:50%}
    .item{
      margin: 1.5em 0.8em;
      background: url("images/action.png") no-repeat right center;
      padding:0;
      img{border: 2px solid @linkColor;}
      p{
        min-height: 40px;
        padding: 0.5em;
        border:@linkColor 2px solid;
        margin: 0 40px 0 0;
        }
    }
  }
  .images.bg_wrapper{.pinkBackground(2em 0 2em,"images/bg_beige_top.png");}
  .liste_images{
    margin: 0 auto;
    width: 70%;
    .item{
      float:left;
      width: 33%;
      margin-bottom: 3em;
    }
  }
}

.rubrique_about{
  #content, .cartouche{text-align:left;}
  h1,.h1{margin-left:21%}
  .inner-content{
    clear:both;
    width:74%;
    text-align:justified;
    .wrapper {
      > div{
        margin-left:15%;
        text-align:justify}
      img {float:left}
    }
  }
  .spip_logos{max-width:86px}
  .button {
    clear:both;
    font-size: 2.62em;
    margin: 0;
    padding:.2em 0.89em;
      a {line-height: 2.1em;}
    }

   .change.bg_wrapper{
     .pinkBackground(2em 0 2em,"images/bg_beige_top.png");
   }

  .change{
    padding:3em 0 2em 0;
  }
  .lifestyle {
    .inner-content{width:61%}
    img {
      margin: 0 1em 1em 2em;
    }
  }
}
@media (min-width: 1200px) {
  .navbar-inner {width:@gridRowWidth1200}
  .home {
    #content {
      .cartouche {
        padding:398px 0 5em 0;
        .counter{
          right: 56px;
          top: 286px;
          }
      }
    }
    .about{padding:2em 0 5em 0;}
    .walk{
      .button{
        right:4%;
        top:1.3em;
      }
      .counter {
        left: 11%;
        }
     }
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  h1 {margin-bottom: 0;}
  p {margin-bottom: 0;}
  header {padding-top:2em;}
  .inner-content{width:80%;}
  .counter{
    font-size: 1.4em;
    max-width: 46px;
    }
  .navbar-inner {width:@gridRowWidth768}
  .home {
    header.cartouche {
      padding: 240px 0 7em!important;
     }
      .bg_wrapper.about{padding: 1em 0;}
    .about{
      padding: 1em 0 3em;
     .items{width:100%;}
     .item p{padding: .5em 0.5em;}
    }
    .walk {
      h2.h1 {
        margin: 0.2em 0 1em 0;
        }
      .button {
        font-size: 1.8em;
        a, span {
          display: block;
        }
      }
      .counter{
        left:10%;
        top:1em;
      }

    }
  }
  .rubrique_about {
    .inner-content{
      padding-bottom:1em;
      .wrapper > div{
         margin-top: 1em;
         margin-left: 20%;
      }
    }
  }

 .rubrique_upload{

   .step {

     div {
       margin: 0.2em 0;
     }
   }
 }
}

@media (max-width: 767px){
  body {font-size:75%}
  .navbar-inner {
    width:100%;
    position: relative;
    }

  .navbar-responsive {
    right: 0;
  }
  .navbar-inverse .btn-navbar{
    background-color:@linkColor;
  }
  h1, .h1 {margin-bottom:0}
  .home #content .cartouche h1, h1, .h1 {
      background-image: none !important;
      font-size:3.5em;
      width: 100%;
      padding:0;
  }
  header{
    margin-top:3em;
    padding-top: 1em;
    }

  .bg_wrapper{padding: 0 !important;}

  .home .about .button,.home .walk .button,.home #content .cartouche .button {font-size:2em;}

  .home {
    header.cartouche {
      padding: 31% 0 7em!important;
      margin-bottom: 0.1em;
      .spip_logos{
        margin: 15px auto 0 auto;
        display:block;
        }
    }
    .bg_wrapper.about .inner {
      padding: 1em 0 2em;
     }
    .walk {
    h2.h1 {margin: 0.3em 0;}
    .button {
      font-size: 2.18em;
      position:static;
      margin-bottom:1em;
  a, span {
        display: block;
      }
    }
    .counter{display:none}
    .grid-item{width: 100%;}
    }
    .about{
      padding: 0.5em 0 1.5em;
      .inner {padding: 1em;}
     .items{
       width:100%;
       font-size:1em;
     }
    .item {
      margin-right: 0;
      width: 120px;
     }
     p{
       padding: 0;
     }
    }
  #content .cartouche .spip_logos {
    position:relative;
    right:0;
    }
  }

  .counter,.home #content .cartouche .counter {
     position: relative;
    font-size: 1.2em;
    max-width: 27px;
    right:0;
    top:0;
  }

  .inner-content {width:80%;}

  .rubrique_about {
    h1,.h1 {
      margin-left: 0;
    }
    .inner-content {
      .wrapper {
        img {
          margin-right: 0.5em;
          }
        img.spip_logos{
          float:none;
          margin:1em 0;
          }
        > div {margin-left: 0;}
      }
    }
    .change{padding: 1.2em 0 1.2em;}
    .lifestyle {
      .inner-content {width: 100%;}
      img{margin: 0 0.1em 0.1em 0.1em}
    }
  }
  .rubrique_act {
    header.inner-content{margin-top:5em}
    .tweets .wrapper > div {
    width: 100%;
    }
  .images{padding: 1em 0 1em;}
  }
  .rubrique_upload .step {
    display: inline-block;
    width: 90px;
    margin: 0.3em;
    float:none;
    div {
      margin: 0.2em 0;
    }
  }

}
