@import "css/variables.less";

#logo_site_spip {display:none}

/*Naviagtion*/

.navbar-inner {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: @fontCardenioModern;
    font-size: 2em;
  }

/*Masonry*/
.grid-item{
  width:33.3333333%;
  float:left;
}

/*Form upload*/
#joindre_distant__new, #joindre_mediatheque__new, .sourceup, .formulaire_joindre_document h3.titrem {
    display: none;
}

/*Social tags*/
.socialtags img {
    height: 64px;
}

@media (min-width: 1200px) {

}


@media (max-width: 979px) and (min-width: 768px) {

}

@media (max-width: 767px){

}

